*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    scroll-behavior: smooth;
}

.card{
    border: 1px solid #000;
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 1rem;
    background: transparent;
    cursor: pointer;
}

.box{
    border: 1px solid #000;
    padding: 5rem;
    border-radius: 2rem;
    width: fit-content;
    font-size: 2rem;
}